* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; /* Modern font */
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: #121212; /* Dark mode background */
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
